.panel-container{
    background-color: white;
    width: 100%;
    height: 90vh;
}

.title{
    text-align: center;
    padding: 25px;
    top:100px
}

.divider{
    top: 80px;
    height: 5px;
    background-color: lightblue;

}

.center{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.points-container{
    align-self: center;
    text-align: center; 
    font-size: larger;
    padding: 25px;   
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border-radius: 45%;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.redemption-input-box{
    margin-top: 10px;
    background-color: lightblue;
    padding: 25px;
    width: 100%;
    align-self: center;
    text-align: center; 
  
}

.input-box-combo{
    display: flex;
    flex-direction: row;
}

table{
    background-color: white;
    width: 100%;
    margin-top: 10px;
}

tr{
    height: 40px;
}

th{
    background-color: #007BFF;
    text-align: left;
    padding-left: 15px;

}

td{
    text-align: left;
    padding-left: 15px;

}

.total-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;

}

.total-title{
    width: 70%;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    background-color: silver;
}

.total-amount{
    width: 30%;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    background-color: silver;
}